*{
    padding: 0px;
    margin: 0px;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 1px 2.50px silver 1.50px;
  }

  #backVid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgb(19, 16, 16), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  #backGround {
    
    width: 150px;
    height: 150px;

    background-color: aqua;
    border-color: aqua;
    box-shadow: 0 4px 8px 0 rgb(14, 6, 6), 0 6px 20px 0 rgba(250, 251, 252, 0.19);
    
  }
  #backGround:hover{
    box-shadow: 0 4px 8px 0 rgb(19, 16, 16), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: aqua;
    border-color: aqua;
    box-shadow: 0 4px 8px 0 rgb(248, 246, 246), 0 6px 20px 0 rgba(250, 251, 252, 0.19);
    

  }
  #background-clip{
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }