*{
    padding: 0px;
    margin: 0px;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Images/Tom.jpg");
    background-size: cover;
    box-shadow: 1px 2.50px silver 1.50px;
  }
  
  #backGround{
    box-shadow: 0 4px 8px 0 rgb(19, 16, 16), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }